{extend name="common/layout" /}
{block name="title"}快速添加解析记录{/block}
{block name="main"}
<style>
.quick-add-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}
.form-section {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.form-title {
    color: #337ab7;
    font-size: 24px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid #337ab7;
}
</style>
<div class="quick-add-container">
	<div class="form-section">
		<h3 class="form-title">添加解析记录</h3>
		<form class="form-horizontal" id="quickAddForm">
			<div class="form-group">
				<label class="col-sm-2 control-label">域名 <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<select name="domain" id="domainSelect" class="form-control select2" required>
						<option value="">请选择域名</option>
						{foreach $domainList as $domain}
						<option value="{$domain.id}">{$domain.name} [{$domain.dnsType}]</option>
						{/foreach}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">主机记录 <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" placeholder="如：www、@、mail" required>
					<p class="help-block">填写域名前缀，支持多级</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">记录类型 <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<select name="type" class="form-control" required>
						<option value="A">A</option>
						<option value="CNAME">CNAME</option>
						<option value="AAAA">AAAA</option>
						<option value="NS">NS</option>
						<option value="MX">MX</option>
						<option value="SRV">SRV</option>
						<option value="TXT">TXT</option>
						<option value="CAA">CAA</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">线路 <span class="text-danger">*</span></label>
				<div class="col-sm-10" id="line_list">
					<select name="line" class="form-control" required>
						<option value="">请先选择域名</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">记录值 <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="value" placeholder="请输入记录值" required>
				</div>
			</div>
			<div class="form-group" style="display:none" id="mx_type">
				<label class="col-sm-2 control-label">MX优先级</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="mx" value="10" min="1" max="65535">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">TTL <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="ttl" value="600" placeholder="指解析结果在DNS服务器中的缓存时间" required min="1">
					<p class="help-block">单位：秒，默认600秒</p>
				</div>
			</div>
			<div class="form-group" style="display:none" id="weight">
				<label class="col-sm-2 control-label">权重</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="weight" value="" placeholder="留空则不使用权重" min="0">
				</div>
			</div>
			<div class="form-group" style="display:none" id="remark_group">
				<label class="col-sm-2 control-label">备注</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="remark" placeholder="">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-primary btn-lg" onclick="saveQuickAdd()"><i class="fa fa-plus"></i> 添加解析记录</button>
					<button type="button" class="btn btn-default btn-lg" onclick="resetForm()"><i class="fa fa-refresh"></i> 重置</button>
				</div>
			</div>
		</form>
	</div>
</div>
{/block}
{block name="script"}
<script src="/static/js/layer/layer.js"></script>
<script src="/static/js/select2-4.0.13.min.js"></script>
<script>
$(document).ready(function(){
	$('#domainSelect').select2({
		placeholder: '请选择域名',
		allowClear: true,
		width: '100%',
		language: {
			noResults: function(){
				return '未找到匹配的域名';
			},
			searching: function(){
				return '搜索中...';
			}
		}
	});

	$('select[name=type]').change(function(){
		if($(this).val() == 'MX'){
			$("#mx_type").show();
		}else{
			$("#mx_type").hide();
		}
		if(window.showWeight){
			if($(this).val() == 'A' || $(this).val() == 'CNAME' || $(this).val() == 'AAAA'){
				$("#weight").show();
			}else{
				$("#weight").hide();
			}
		}
	});

	$('#domainSelect').on('change', function(){
		var domainId = $(this).val();
		if(domainId){
			loadDomainInfo(domainId);
		}else{
			$('#line_list').html('<select name="line" class="form-control"><option value="">请先选择域名</option></select>');
			$('#weight').hide();
			$('#remark_group').hide();
		}
	});
});

function loadDomainInfo(domainId){
	var ii = layer.load(2);
	$.ajax({
		type : 'POST',
		url : '/record/quickinfo/' + domainId,
		dataType : 'json',
		success : function(data) {
			layer.close(ii);
			if(data.code == 0){
				renderLineOptions(data.data.recordLine, data.data.weight, data.data.remark);
			}else{
				layer.alert(data.msg, {icon: 2});
			}
		},
		error : function() {
			layer.close(ii);
			layer.alert('获取域名信息失败', {icon: 2});
		}
	});
}

function renderLineOptions(recordLine, showWeight, showRemark){
	window.showWeight = showWeight;
	var options = '<select name="line" class="form-control" onchange="changeLine(this)" required>';
	var firstOption = null;
	$.each(recordLine, function(index, item){
		if(item.parent == null){
			if(!firstOption) firstOption = item.id;
			options += '<option value="'+item.id+'">'+item.name+'</option>';
		}
	});
	options += '</select>';
	$('#line_list').html(options);
	window.currentRecordLine = recordLine;

	if(firstOption){
		$('#line_list select[name=line]').val(firstOption);
	}

	if(showWeight){
		var type = $('select[name=type]').val();
		if(type == 'A' || type == 'CNAME' || type == 'AAAA'){
			$('#weight').show();
		}
	}else{
		$('#weight').hide();
	}

	if(showRemark == 2){
		$('#remark_group').show();
	}else{
		$('#remark_group').hide();
	}
}

function changeLine(obj){
	var line = $(obj).val();
	var flag = false;
	$("#line_list").children().each(function(index, elem){
		if(flag) $(elem).remove()
		if(obj == elem){
			flag = true;
		}
	})
	if($(obj).find("option:selected").text() == '子集线路（非必填）') return;
	if(window.currentRecordLine){
		var tempLine = window.currentRecordLine.filter((x) => x.parent == line)
		if(tempLine.length > 0){
			var option = line.substr(0,2) == 'N.' ? '' : '<option value="'+line+'">子集线路（非必填）</option>';
			$.each(tempLine, function(index, item){
				option += '<option value="'+item.id+'">'+item.name+'</option>';
			})
			$("#line_list").append('<select name="line" class="form-control" onchange="changeLine(this)">'+option+'</select>');
		}
	}
}

function resetForm(){
	$('#quickAddForm')[0].reset();
	$('#domainSelect').val(null).trigger('change');
	$('#line_list').html('<select name="line" class="form-control"><option value="">请先选择域名</option></select>');
	$('#weight').hide();
	$('#remark_group').hide();
	$('#mx_type').hide();
}

function saveQuickAdd(){
	var domainId = $('#domainSelect').val();
	if(!domainId){
		layer.alert('请选择域名', {icon: 2});
		return;
	}

	var name = $('input[name=name]').val();
	var type = $('select[name=type]').val();
	var value = $('input[name=value]').val();

	if(!name || !type || !value){
		layer.alert('请填写必填项', {icon: 2});
		return;
	}

	var ii = layer.load(2);
	$.ajax({
		type : 'POST',
		url : '/record/add/' + domainId,
		data : $("#quickAddForm").serialize(),
		dataType : 'json',
		success : function(data) {
			layer.close(ii);
			if(data.code == 0){
				layer.alert(data.msg,{
					icon: 1,
					closeBtn: false
				}, function(){
					layer.closeAll();
					resetForm();
				});
			}else{
				layer.alert(data.msg, {icon: 2});
			}
		},
		error : function() {
			layer.close(ii);
			layer.alert('服务器错误', {icon: 2});
		}
	});
}
</script>
{/block}
