<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [L,QSA,E=PATH_INFO:/$1]

  SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
</IfModule>
