{extend name="common/layout" /}
{block name="title"}容灾切换代理设置{/block}
{block name="main"}
<div class="row">
	<div class="col-xs-12 col-sm-8 col-lg-6 center-block" style="float: none;">
		<div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">代理服务器设置</h3></div>
			<div class="panel-body">
				<form onsubmit="return saveSetting(this)" method="post" class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label">代理IP</label>
						<div class="col-sm-9"><input type="text" name="proxy_server" value="{:config_get('proxy_server')}" class="form-control"/></div>
					</div><br/>
					<div class="form-group">
						<label class="col-sm-3 control-label">代理端口</label>
						<div class="col-sm-9"><input type="text" name="proxy_port" value="{:config_get('proxy_port')}" class="form-control"/></div>
					</div><br/>
					<div class="form-group">
						<label class="col-sm-3 control-label">代理账号</label>
						<div class="col-sm-9"><input type="text" name="proxy_user" value="{:config_get('proxy_user')}" class="form-control" placeholder="没有请留空"/></div>
					</div><br/>
					<div class="form-group">
						<label class="col-sm-3 control-label">代理密码</label>
						<div class="col-sm-9"><input type="text" name="proxy_pwd" value="{:config_get('proxy_pwd')}" class="form-control" placeholder="没有请留空"/></div>
					</div><br/>
					<div class="form-group">
						<label class="col-sm-3 control-label">代理协议</label>
						<div class="col-sm-9"><select class="form-control" name="proxy_type" default="{:config_get('proxy_type')}">
							<option value="http">HTTP</option>
							<option value="https">HTTPS</option>
							<option value="sock4">SOCK4</option>
							<option value="sock5">SOCK5</option>
						</select></div>
					</div><br/>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9"><input type="submit" name="submit" value="保存" class="btn btn-primary btn-block"/><br/>
							<a href="javascript:proxytest()" class="btn btn-default btn-block">测试连通性</a></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script src="{$cdnpublic}layer/3.1.1/layer.js"></script>
<script>
	const items = $("select[default]");
	for (let i = 0; i < items.length; i++) {
		$(items[i]).val($(items[i]).attr("default")||0);
	}
	function saveSetting(obj){
		var ii = layer.load(2, {shade:[0.1,'#fff']});
		$.ajax({
			type : 'POST',
			url : '',
			data : $(obj).serialize(),
			dataType : 'json',
			success : function(data) {
				layer.close(ii);
				if(data.code == 0){
					layer.alert('设置保存成功！', {
						icon: 1,
						closeBtn: false
					}, function(){
						window.location.reload()
					});
				}else{
					layer.alert(data.msg, {icon: 2})
				}
			},
			error:function(data){
				layer.close(ii);
				layer.msg('服务器错误');
			}
		});
		return false;
	}
	function proxytest(){
		const proxy_server = $("input[name='proxy_server']").val();
		const proxy_port = $("input[name='proxy_port']").val();
		const proxy_user = $("input[name='proxy_user']").val();
		const proxy_pwd = $("input[name='proxy_pwd']").val();
		const proxy_type = $("select[name='proxy_type']").val();
		if(proxy_server === '' || proxy_port === ''){
			layer.alert('代理服务器和端口不能为空！');
			return false;
		}
		const ii = layer.load(2, {shade: [0.1, '#fff']});
		$.ajax({
			type : 'POST',
			url : '/dmonitor/proxytest',
			data : {proxy_server:proxy_server, proxy_port:proxy_port, proxy_user:proxy_user, proxy_pwd:proxy_pwd, proxy_type:proxy_type},
			dataType : 'json',
			success : function(data) {
				layer.close(ii);
				if(data.code == 0){
					layer.alert('连通性测试成功！', {icon: 1})
				}else{
					layer.alert('连通性测试失败：'+data.msg, {icon: 2})
				}
			},
			error:function(data){
				layer.close(ii);
				layer.msg('服务器错误');
			}
		});
	}
</script>
{/block}