{extend name="common/layout" /}
{block name="title"}代理设置{/block}
{block name="main"}
<div class="row">
	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 center-block" style="float: none;">
		<div class="panel panel-info">
			<div class="panel-heading font-bold"><h3 class="panel-title">代理服务器设置</h3></div>
			<div class="panel-body">
				<form class="form-horizontal" method="post" onsubmit="return saveSetting(this)" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label">代理IP</label>
						<div class="col-sm-9">
							<input class="form-control" name="proxy_server" type="text" value="{:config_get('proxy_server')}"/>
						</div>
					</div>
					<br/>
					<div class="form-group">
						<label class="col-sm-3 control-label">代理端口</label>
						<div class="col-sm-9">
							<input class="form-control" name="proxy_port" type="text" value="{:config_get('proxy_port')}"/>
						</div>
					</div>
					<br/>
					<div class="form-group">
						<label class="col-sm-3 control-label">代理账号</label>
						<div class="col-sm-9">
							<input class="form-control" name="proxy_user" placeholder="没有请留空" type="text" value="{:config_get('proxy_user')}"/>
						</div>
					</div>
					<br/>
					<div class="form-group">
						<label class="col-sm-3 control-label">代理密码</label>
						<div class="col-sm-9">
							<input class="form-control" name="proxy_pwd" placeholder="没有请留空" type="text" value="{:config_get('proxy_pwd')}"/>
						</div>
					</div>
					<br/>
					<div class="form-group">
						<label class="col-sm-3 control-label">代理协议</label>
						<div class="col-sm-9">
							<select class="form-control" default="{:config_get('proxy_type')}" name="proxy_type">
								<option value="http">HTTP</option>
								<option value="https">HTTPS</option>
								<option value="sock4">SOCK4</option>
								<option value="sock5">SOCK5</option>
								<option value="sock5h">SOCK5H</option>
							</select>
						</div>
					</div>
					<br/>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9"><input class="btn btn-primary btn-block" name="submit" type="submit" value="保存"/><br/>
							<a href="javascript:proxytest()" class="btn btn-default btn-block">测试连通性</a>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer">
				为保证代理稳定性，建议在本机安装Xray，入站代理使用普通http协议，仅监听本地IP，出站代理使用加密协议连接其他服务器。
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script>
	var items = $("select[default]");
	for (i = 0; i < items.length; i++) {
		$(items[i]).val($(items[i]).attr("default") || 0);
	}
	function saveSetting(obj) {
		var ii = layer.load(2, {shade: [0.1, '#fff']});
		$.ajax({
			type: 'POST',
			url : '/system/set',
			data: $(obj).serialize(),
			dataType: 'json',
			success: function (data) {
				layer.close(ii);
				if (data.code == 0) {
					layer.alert('设置保存成功！', {
						icon: 1,
						closeBtn: false
					}, function () {
						window.location.reload()
					});
				} else {
					layer.alert(data.msg, {icon: 2})
				}
			},
			error: function (data) {
				layer.close(ii);
				layer.msg('服务器错误');
			}
		});
		return false;
	}

	function proxytest(){
		var proxy_server = $("input[name='proxy_server']").val();
		var proxy_port = $("input[name='proxy_port']").val();
		var proxy_user = $("input[name='proxy_user']").val();
		var proxy_pwd = $("input[name='proxy_pwd']").val();
		var proxy_type = $("select[name='proxy_type']").val();
		if(proxy_server=='' || proxy_port==''){
			layer.alert('代理服务器和端口不能为空！');
			return false;
		}
		var ii = layer.load(2, {shade:[0.1,'#fff']});
		$.ajax({
			type : 'POST',
			url : '/system/proxytest',
			data : {proxy_server:proxy_server, proxy_port:proxy_port, proxy_user:proxy_user, proxy_pwd:proxy_pwd, proxy_type:proxy_type},
			dataType : 'json',
			success : function(data) {
				layer.close(ii);
				if(data.code == 0){
					layer.alert('连通性测试成功！', {icon: 1})
				}else{
					layer.alert('连通性测试失败：'+data.msg, {icon: 2})
				}
			},
			error:function(data){
				layer.close(ii);
				layer.msg('服务器错误');
			}
		});
	}
</script>
{/block}